.event-show-bookings {
  margin: 20px;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.booking-card {
  display: flex;
}

.booking-description {
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}
