<div class="container user-profile-content">
  <div class="row">

    <% if policy(@user).edit? %>
      <div class="col-md-4">
      <%= render 'profile_user_information' %>

      </div>

      <div class="col-md-8">

      <%= render 'profile_event_list' %>

      <%= render 'profile_booking_list' %>

      </div>
      <% else %>
      <div class="col-md-6 col-md-offset-3">
      <%= render 'profile_user_information' %>

      </div>
    <% end %>

  </div>

</div>
