<div class="player">
  <audio src ="" controls id="audioPlayer">
    Sorry, your browser doesn't support html5!
  </audio>
    <ul class="hidden" id="playlist">
      <li class="current-song" id="audioControl"><a href="http://res.cloudinary.com/dfjd5sbad/video/upload/v1512040826/funebre_1_kaaybj.mp3">Marche funebre</a></li>
      <li><a href="http://res.cloudinary.com/dfjd5sbad/video/upload/v1512041324/Musique_Militaire_-_Sonnerie_aux_morts_Ame%CC%81ricaine_bqimyy.mp3">Marche militaire</a></li>
      <li><a href="http://res.cloudinary.com/dfjd5sbad/video/upload/v1512049132/Jeff_Buckley_-_Hallelujah_fron5e.mp3">Hallelujah</a></li>
    </ul>
</div>
