<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"> never too late for a selfie </i></a>
    <a href="#"><i class="fa fa-twitter"> unlimited sadness (140 char max) </i></a>
  </div>
  <div class="footer-copyright">
    Footer made with <i class="fa fa-heart"></i> @ Pere Lachaise
  </div>
</div>
