<div class="container">
    <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= link_to user_path(user.id) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= user.photo? ? (cl_image_path user.photo) : ('https://picsum.photos/g/200/300') %>');">
            <div class="card-description">
              <h2><%= user.first_name.capitalize %></h2>
              <p><%= user.tarif %> € </p>
            </div>
          </div>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
