.img-cover {
  background-repeat: no-repeat;
 background-size: cover;

}

.margin_bottom {
  margin: 40px;
}

.yourevent {
    color: black;
    size: 12px;
}

.pending-status {
  border-radius: 0 0 3px 3px;
}
